<ion-view title="Account">
    <ion-content class="has-header padding">
        <div class="list" ng-init="locations = ['New York','Washington DC']">

            <label class="item item-radio" ng-repeat="location in locations"
                   ng-click="acctCtrl.itemClicked(location,$event)">
                <input type="radio" name="group">

                <div class="item-content">
                    {{location}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
