<ion-view title="Account">
  <ion-content class="has-header padding">
      <div class="list">

          <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">
                  New York
              </div>
              <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">
                  Washington DC
              </div>
              <i class="radio-icon ion-checkmark"></i>
          </label>
      </div>
  </ion-content>
</ion-view>
